<div class="panel">
    <div class="panel-heading">ChefDK</div>
    <div class="panel-block">
        <div class="columns is-multiline">
            <div class="column is-12">
                The Chef Development Kit contains tools like chef generate, chef-client, knife, and kitchen.
            </div>
            <div class="column is-12">
                    You can find the ChefDK to download at: downloads.chef.io
            </div>
            <div class="column is-12">
                ChefDK is a tool chain built on top of the Ruby language.
            </div>
            <div class="column is-12">
                The ChefDK installer does not install any particular graphical-user-interface -- installs CLI instead
            </div>
        </div>
    </div>  
</div>

<div class="panel">
    <div class="panel-heading">Lab Commands</div>
    <div class="panel-block">
        <code>
            $ chef --version<br>
            $ chef-client --version<br>
            $ knife --version<br>
            $ ohai --version<br>
            $ berks --version<br>
            $ kitchen --version<br>
            $ foodcritic --version<br>
            $ cookstyle --version<br>
        </code>
    </div>  
</div>