<div class="panel">
    <div class="panel-heading">Configuration Management Platforms</div>
    <div class="panel-block">
        <div class="columns is-multiline is-mobile">
            <div class="column is-12">
                Who are the major players in CM?
            </div>
            <div class="column is-half">
                &emsp; &bull; Puppet
            </div>
            <div class="column">
                &bull; Salt
            </div>
            <div class="column is-half">
                &emsp; &bull; Chef
            </div>
            <div class="column">
                &bull; CFEngine
            </div>
            <div class="column is-half">
                &emsp; &bull; RightScale
            </div>
            <div class="column">
                &bull; DIY
            </div>
            <div class="column is-half">
                &emsp; &bull; Ansible
            </div>
        </div>
    </div>    
</div>

<div class="panel">
    <div class="panel-heading">Goodbye, Traditional Scripting</div>
    <div class="panel-block">
        CM is different from scripting.<br>
        &bull; A CM tool should analyze the state of a server before making changes.<br>
        &bull; For example, if the script dictates that Apache should be installed, but it already is, this step is skipped.<br>
    </div>    
</div>

<div class="panel">
    <div class="panel-heading">The Power of Idempotence</div>
    <div class="panel-block">
        Why is idempotence important?<br>
        &bull; If an unauthorized or accidental change is made to a server, idempotence will bring it back into alignment.<br>
        &bull; The policy can be applied at regular intervals with no effect, unless a change is needed to bring the server back into alignment.<br>
    </div>    
</div>

<div class="panel">
    <div class="panel-heading">Chef</div>
    <div class="panel-block">
        Programmatic configuration management<br>
        &bull; Requires some knowledge of Ruby<br>
        &bull; Large community providing many resources you can leverage instead of writing your own<br>
        &bull; One of the top two platforms in the space with significant enterprise adoption<br>
    </div>    
</div>

<div class="panel">
    <div class="panel-heading">CM and the Cloud</div>
    <div class="panel-block">
        What is the cloud?<br>
        &bull; Compute resources that are owned by another entity<br>
        &bull; These resources can be rented at a low cost and without commitment<br>
        &bull; This provides nearly unlimited resources for anyone needing on-demand compute resources<br>
    </div> 
    <div class="panel-block">
        Why use configuration management in the cloud?<br>
        &bull; Provides for large-scale automation of compute resources<br>
        &bull; Can use the public cloud's API, allowing for additional programmatic and graphical interfaces to be created in the cloud ecosystem<br>
        &bull; Abstract cloud complexity with features provided by configuration management<br>
    </div>    
</div>