<div class="panel">
    <div class="panel-heading">Resources</div>
    <div class="panel-block">
        A resource is a statement of configuration policy.
    </div>
    <div class="panel-block">
        It describes the desired state of an element of your infrastructure and the steps needed to bring that item to the desired state.
    </div>
</div>

<div class="panel">
    <div class="panel-heading">Ruby</div>
    <div class="panel-block">
        Recipes are authored with Ruby syntax, and have an .rb file extension. They contain Chef resources.
    </div>
    <div class="panel-block">
        However, Chef resources are not pure Ruby code.
    </div>
</div>

<div class="panel">
    <div class="panel-heading">First: Learn Resources</div>
    <div class="panel-block">
        Learning Chef resources is far more important than understanding Ruby.
    </div>
    <div class="panel-block">
        Learn about the most common resources, and their properties and actions before trying to learn Ruby.
    </div>
</div>