<div class="panel">
    <div class="panel-heading">The Chef Server</div>
    <div class="panel-block">
        A hub for configuration data
    </div>
    <div class="panel-block">
        <img src="../images/chef-server.png" width="500">
    </div>
</div>

<div class="panel">
    <div class="panel-heading">To Manage a Node</div>
    <div class="panel-block">
        &bull; Provision a new node with the appropriate access to login and administer the system<br>
        &bull; Install the Chef tools<br>
        &bull; Transfer the Apache cookbook<br>
        &bull; Run chef-client on the new node to apply the Apache cookbook's default recipe<br>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">Steps to Set Up Load Balancer and Web Servers</div>
    <div class="panel-block" style="display:block;">
        <div class="columns is-multiline is-mobile">
            <div class="column is-half">
                Web Server
            </div>
            <div class="column is-half">
                Load Balancer
            </div>
            <div class="column is-half">
                &emsp; &bull; Provision the instance
            </div>
            <div class="column is-half">
                &emsp; &bull; Create the haproxy (load balancer) cookbook
            </div>
            <div class="column is-half">
                &emsp; &bull; Install Chef
            </div>
            <div class="column is-half">
                &emsp; &bull; Provision the instance
            </div>
            <div class="column is-half">
                &emsp; &bull; Copy the web server cookbook
            </div>
            <div class="column is-half">
                &emsp; &bull; Install Chef
            </div>
            <div class="column is-half">
                &emsp; &bull; Apply the cookbook
            </div>
            <div class="column is-half">
                &emsp; &bull; Copy the haproxy cookbook
            </div>
            <div class="column is-half"></div>
            <div class="column is-half">
                &emsp; &bull; Apply the cookbook
            </div>
        </div>
    </div> 
</div>

<div class="panel">
    <div class="panel-heading">Flavors of Chef Server</div>
    <div class="panel-block" style="justify-content: center;">
        <div class="card" style="width:200px; height:120px;">
            <div class="card-content" style="text-align: center;"> Open Source<br> Chef Server</div>
        </div>
        <div class="card" style="width:200px; height:120px;">
            <div class="card-content" style="text-align: center;"> Chef Server<br>(Support + Premium Features)</div>
        </div>
        <div class="card" style="width:200px; height:120px;">
            <div class="card-content" style="text-align: center;"> Multi-Tenant<br>Hosted Chef Server</div>
        </div>
    </div>
</div>