<div class="panel">
    <div class="panel-heading">Sign Up for a Hosted Chef Tenant</div>
    <div class="panel-block">
        It is free up to 5 managed nodes
    </div>
    <div class="panel-block">
        <img src="../images/hosted-chef.png" width="500">
    </div>
    <div class="panel-block">
        Download the starter kit
    </div>
    <div class="panel-block">
        <img src="../images/starter-kit.jpg" width="300">
    </div>
</div>

<div class="panel">
    <div class="panel-heading">Knife</div>
    <div class="panel-block">
        A command-line tool that provides an interface between a local chef-repo and the Chef Server
    </div>
    <div class="panel-block" style="display:block;">
        In the SSH client, run:<br>
        <code>knife client list</code><br>
        It should return the name of your organization with the '-validator' suffix
    </div> 
    <div class="panel-block">
        Inside the 'chef-repo' directory, there is a hidden '.chef' directory that contains pem file or private key
    </div> 
    <div class="panel-block" style="display:block;">
        Common Knife commands:<br>
        <code>
            knife cookbook list<br>
            &nbsp;knife cookbook upload [COOKBOOK]
        </code>
    </div>
</div>