<div class="panel">
    <div class="panel-heading">Load Balancer</div>
    <div class="panel-block" style="display:block;">
        <img src="../images/chef-haproxy.png" width="600">
    </div>
    <div class="panel-block">
        &bull; Adding a load balancer will allow you to better grow your infrastructure.<br>
        &bull; A load balancer receives requests and relays them to other systems.
    </div>
    <div class="panel-block">
        <div class="panel">
            <div class="panel-heading">Before setting up a load balancer</div>
            <div class="panel-block">
                &bull; Write a haproxy (load balancer) cookbook<br>
                &bull; Establish a node to which you apply that cookbook
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">Community Cookbooks</div>
    <div class="panel-block" style="display:block;">
        &bull; Did someone already write that cookbook?<br>
        &bull; The cookbook is available through the community site called Supermarket.<br>
        &bull; <a href="https://supermarket.chef.io">https://supermarket.chef.io</a><br>
        <img src="../images/chef-supermarket.png" width="600"><br>
        &bull; Community cookbooks are managed by individuals.<br>
        &bull; Chef does not verify or approve cookbooks in the Supermarket.<br>
        &bull; Cookbooks may not work for various reasons.<br>
        &bull; There are real benefits to community cookbooks.<br>
    </div>
</div>