<div class="panel">
    <div class="panel-heading">Wrapper Cookbooks</div>
    <div class="panel-block" style="display:block;">
        &bull; Don't use forked community cookbooks in production, or you will miss out on upstream changes<br>
        &bull; Instead, use wrapper cookbooks to wrap upstream cookbooks and change their behavior without forking.<br>        
    </div>
    <div class="panel-block">
        <div class="panel">
            <div class="panel-heading">Wrapper Cookbook</div>
            <div class="panel-block" style="display:block;">
                <img src="../images/wrapper-cookbook.png" width="300">
            </div>
            <div class="panel-block">
                &bull; A wrapper cookbook encapsulates the functionality of the original cookbook.<br>
                &bull; It defines new default values for the recipes.
            </div>
        </div>
    </div>
    <div class="panel-block" style="display:block;">
        &bull; Chef community cookbooks can be used out of the box, but in most cases you will want to use them as a reference, as you write your own.<br>        
    </div>
</div>

<div class="panel">
    <div class="panel-heading">Example: metadata.rb</div>
    <div class="panel-block" style="display:block;">
        <img src="../images/metadata.png" width="600"><br>
        
    </div>
</div>

<div class="panel">
        <div class="panel-heading">Example: default.rb</div>
        <div class="panel-block" style="display:block;">
            <img src="../images/default.jpg" width="500"><br>
            
        </div>
    </div>